@keyframes ldio-kiheie1px6o {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
  }
  .ldio-kiheie1px6o div { box-sizing: border-box!important }
  .ldio-kiheie1px6o > div {
    position: absolute;
    width: 72px;
    height: 72px;
    top: 14px;
    left: 14px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #444444 transparent #444444 transparent;
    animation: ldio-kiheie1px6o 1.923076923076923s linear infinite;
  }
  
  .ldio-kiheie1px6o > div:nth-child(2), .ldio-kiheie1px6o > div:nth-child(4) {
    width: 54px;
    height: 54px;
    top: 23px;
    left: 23px;
    animation: ldio-kiheie1px6o 1.923076923076923s linear infinite reverse;
  }
  .ldio-kiheie1px6o > div:nth-child(2) {
    border-color: transparent #00bc8c transparent #00bc8c
  }
  .ldio-kiheie1px6o > div:nth-child(3) { border-color: transparent }
  .ldio-kiheie1px6o > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-kiheie1px6o > div:nth-child(3) div:before, .ldio-kiheie1px6o > div:nth-child(3) div:after { 
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -8px;
    left: 24px;
    background: #444444;
    border-radius: 50%;
    box-shadow: 0 64px 0 0 #444444;
  }
  .ldio-kiheie1px6o > div:nth-child(3) div:after {
    left: -8px;
    top: 24px;
    box-shadow: 64px 0 0 0 #444444;
  }
  
  .ldio-kiheie1px6o > div:nth-child(4) { border-color: transparent; }
  .ldio-kiheie1px6o > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-kiheie1px6o > div:nth-child(4) div:before, .ldio-kiheie1px6o > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -8px;
    left: 15px;
    background: #00bc8c;
    border-radius: 50%;
    box-shadow: 0 46px 0 0 #00bc8c;
  }
  .ldio-kiheie1px6o > div:nth-child(4) div:after {
    left: -8px;
    top: 15px;
    box-shadow: 46px 0 0 0 #00bc8c;
  }
  .loadingio-spinner-double-ring-msluf46vppi {
    width: 81px;
    height: 81px;
    display: inline-block;
    overflow: hidden;
    background: #060606;
  }
  .ldio-kiheie1px6o {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.81);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-kiheie1px6o div { box-sizing: content-box; }