.item-list {
  display: flex;
  margin-top: 1rem;
}

  .item-list .list-group-item {
      cursor: pointer;
      padding: .5rem;
    }
  
  .item-list .list-group-item:hover {
    background-color: #444;
  }